.land-head {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	color: var(--c-text-w);
	min-height: calc(100vh - 70px);
	position: relative;
	&_in {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		z-index: 1;
		margin: auto;
		padding: var(--s-lsection);
		background: rgba(0, 0, 0, 0.2);
		p {
			max-width: 800px;
			margin: 0 auto;
			margin-bottom: 30px;
			text-shadow: 1px 1px 3px #000000;
			text-align: center;
		}
		h1 {
			text-align: center;
			margin-bottom: 30px;
			text-shadow: 2px 2px 5px #000000;
		}
		.btn {
			text-transform: uppercase;
			letter-spacing: 1.5px;
		}
	}
}
.land-video {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
    object-fit: cover;
}